.popup {  
    position: absolute;  
    width: 100%;  
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    
    top: 0;
    left: auto;        
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0, 0, 0, 0.8);
    
    transition: all 1s; 
    display: block;
    z-index: 1; 
  }  
  .popup-flotante{
    width: 50%;
    position:fixed; 
    top:0; left:0; 
    z-index:3000; 
    /**Centrado*/
    /**padding-left: 25%;**/
    margin-left: auto;
    margin-right: auto; 
  }
  .popup_contenido {
    background-color: white;
    width:100%;
    left: auto;
    padding: 10px;
    
    margin: 10% auto;
    position: relative;
    
    transition: all 1s;
    border-radius: 6px;
    display: block;
    z-index: 2;
    height: 40vh;

    border-color: black;
    border-style: dashed;
    border-width: 2px;

    overflow-y: scroll;
    

  }
  .titulo-center{
    margin-left: auto;
    margin-right: auto;
  }
  .text-derecha{
    text-align: right;
  }
  .alineacion-derecha{
    float: right
  }
  .button-color{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    border-radius: 20px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .col-pop-90{
    width: 92%;
  }
  .col-pop-10{
    width: 8%;
  }
  .lado_izquierdo{
    margin-left: 49%;
  }